<h1>Confirmez votre adresse e-mail</h1>

<p>
    Bonjour ! Veuillez confirmer votre email en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.
</p>

<p>
    Ce lien expira dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

{% if temporaryPassword is defined %}
<p>Voici votre mot de passe temporaire : <strong>{{ temporaryPassword }}</strong></p>
<p>Merci de vous connecter et de le changer immédiatement.</p>
{% endif %}

<p>
    Cordialement,<br><br>
    L'équipe du Portail CSIESR
</p>
