{% extends 'base.html.twig' %}

{% block title %}Espace Partenaire{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Espace Partenaire</h1>
        <p>Bienvenue, {{ app.user.userIdentifier }}</p>

        {# contenu du dashboard partenaire à ajouter ici #}
    </div>
{% endblock %}
