{% extends 'base.html.twig' %}

{% block title %}A propos - Portail{% endblock %}

{% block body %}
<h1>A propos de nous</h1>
    <p>Ce portail est un projet réalisé avec le framework SYmfony</p>
{% endblock %}
