{% extends 'base.html.twig' %}

{% block title %}Ma page index!{% endblock %}

{% block body %}
    <h1>{{ 'app.welcome'|trans }}</h1>

    <p>{{ home_description }}</p>

    {# Ici on peut mettre un commentaire #}
{% endblock %}
