{% extends 'base.html.twig' %}

{% block title %}Modifier l'établissement{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier l'établissement</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success mt-3">Enregistrer les modification</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
